.icon {
  transition: transform 0.2s ease 0s;
  transform-origin: center center;
  vertical-align: middle;
  color: currentColor;
  width: 16px;
  height: 17px;
  &__path {
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &--compact {
    width: 10px;
    height: 12px;
  }
}
