.social-media-icons {
  @include section-reset;
  width: max-content;
  &__list {
    @include ul-reset;
    align-items: center;
    color: gray-300;
    gap: 20px;
    flex-wrap: wrap;
    display: flex;

    &__item {
      @include li-reset;

      list-style-type: none;

      &__icon {
        width: 22px;
        height: 22px;
        color: black;
      }
    }
  }
}
