name: Get Comment Body

on:
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  get-comment-body:
    runs-on: ubuntu-latest
    name: check version type
    steps:
      - name: Get PR branch
        uses: xt0rted/pull-request-comment-branch@v1
        id: comment-branch

      - name: Set latest commit status as pending
        uses: myrotvorets/set-commit-status-action@master
        with:
          sha: ${{ steps.comment-branch.outputs.head_sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          status: pending

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ steps.comment-branch.outputs.head_ref }}

      - name: Extract Version Bump
        id: extract-info
        run: |
          GITHUB_BOT_COMMENT=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            "${{ github.api_url }}/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/comments")

          # Parse the version bump from the comment
          VERSION_BUMP=$(echo "$GITHUB_BOT_COMMENT" | grep -oP '(?<=\[x\] )[A-Z][a-z]+')

          echo "VERSION_BUMP: $VERSION_BUMP"

          if [ -z "$VERSION_BUMP" ]; then
            echo "No valid version bump selected. Exiting workflow."
            exit 0
          fi

          echo "::set-output name=version_bump::$VERSION_BUMP"

      - name: Set latest commit status as ${{ job.status }}
        uses: myrotvorets/set-commit-status-action@master
        if: always()
        with:
          sha: ${{ steps.comment-branch.outputs.head_sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
