name: Publish to NPM

on:
  pull_request:
    types:
      - closed

jobs:
  on_pull_request_merge:
    runs-on: ubuntu-latest
    steps:
      - name: Check if PR is merged
        id: pr-merged
        run: |
          if [[ "${{ github.event.pull_request.merged }}" == "true" ]]; then
            echo "Pull request is merged."
            echo "::set-output name=pr_merged::true"
          else
            echo "Pull request is not merged."
            echo "::set-output name=pr_merged::false"
          fi

      - name: Extract Version Bump and Release Decision
        if: steps.pr-merged.outputs.pr_merged == 'true'
        id: extract-info
        run: |
          PR_BODY=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            "${{ github.api_url }}/repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}")
        
          echo "PR Body: $PR_BODY"  # Add this line to print the PR_BODY

          # Declare variables outside the conditional blocks
          VERSION_BUMP="Unknown"
          RELEASE_DECISION="Unknown"
    
          # Extract the version bump type (Patch, Minor, or Major)
          if [[ "$PR_BODY" == *"[x]"* && "$PR_BODY" == *"Patch"* ]]; then
            VERSION_BUMP="Patch"
          elif [[ "$PR_BODY" == *"[x]"* && "$PR_BODY" == *"Minor"* ]]; then
            VERSION_BUMP="Minor"
          elif [[ "$PR_BODY" == *"[x]"* && "$PR_BODY" == *"Major"* ]]; then
            VERSION_BUMP="Major"
          else
            VERSION_BUMP="Unknown"  # Default if none selected
          fi
      
          # Extract the release decision (Yes or No)
          if [[ "$PR_BODY" == *"[x]"* && "$PR_BODY" == *"Yes"* ]]; then
            RELEASE_DECISION="Yes"
          elif [[ "$PR_BODY" == *"[x]"* && "$PR_BODY" == *"No"* ]]; then
            RELEASE_DECISION="No"
          else
            RELEASE_DECISION="Unknown"  # Default if none selected
          fi
      
          echo "::set-output name=version_bump::$VERSION_BUMP"
          echo "::set-output name=release_decision::$RELEASE_DECISION"

      - name: Use Extracted Information
        run: |
            echo "Version Bump: ${{ steps.extract-info.outputs.version_bump }}"
            echo "Release Decision: ${{ steps.extract-info.outputs.release_decision }}"
          
